
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Music Fun for Levy</title>
    <link rel="icon" href="/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/button.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

  <body>
  <div id="Layer1" style="position:fixed; left:0px; top:0px; width:100%; height:100%;z-index:-1">
    <img src="/img/bg-guitar.jpg" width="100%"/>
  </div>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner" >
              <h3 class="masthead-brand">Levy的音乐坊</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="mailto:levy.cn@outlook.com">Contact me</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div style="width:250px;height:260px;margin:auto;text-align: center;padding: 50px 45px;">
            <audio id="player" controls="controls"loop="loop" preload="auto"
                   src="" hidden = "hidden">
              你的浏览器不支持audio标签
            </audio>
              <button class="btn btn-primary" onclick="return initPlayer()" id = "btn_start">
                <span class="glyphicon glyphicon-music"></span> 随便听听~
              </button>

              <button class="btn btn-info" onclick="return control()" id = "btn_ctrl">
                <span class="glyphicon glyphicon-play"></span>
              </button>
              <br/>
              <br/>
              <button class="btn btn-link btn-xs" onclick="location.href='/play/audio'">去音乐列表看看 ></button>
              <button class="btn btn-link btn-xs" onclick="location.href='/play/video'">去视频列表看看 ></button>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover by Levy</p>
            </div>
          </div>

        </div>

    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  <script>
    function initPlayer(){
      var btn_start = document.getElementById('btn_start');
      changeMusic();
      btn_start.innerHTML='<span class="glyphicon glyphicon-music"></span> next one';
      $('#btn_start').attr('onclick', "return changeMusic()");
    }

    function changeMusic() {
      $.post('/play/changAudio',function (data) {
        if(data.success){
          var player = document.getElementById('player');
          pause(player);
          $('#player').attr('src', "/resource/audio/"+data.src);
          play(player);
        }
      })
    }

    function control() {
      var player = document.getElementById('player');
      if(player.paused){
        play(player);
      }else{
        pause(player);
      }
    }
    function play(player) {
        player.play();
        var btn_ctrl = document.getElementById('btn_ctrl');
        btn_ctrl.innerHTML='<span class="glyphicon glyphicon-pause"></span>';
    }
    function pause(player) {
        player.pause();
        var btn_ctrl = document.getElementById('btn_ctrl');
        btn_ctrl.innerHTML='<span class="glyphicon glyphicon-play"></span>';
    }
  </script>
  </body>
</html>
